.employee-header {
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2.5rem;
  padding-left: 10px;
}

.employee-header .employee-cart {
  align-self: center;
  font-size: 1.3rem;
  padding-right: 10px;
}

.employee-header .employee-cart .cart-icon {
  font-size: 2.2rem;
  color: cadetblue;
  margin-right: 10px;
}

